@import "tailwindcss";

html,
body,
#root {
  height: 100dvh;
  min-height: 400px;
  width: 100dvw;
  min-width: 400px;
}

body {
  /* 背景色を設定 */
  background-color: #0a2240;

  /* テキスト選択を無効にする */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-touch-callout: none; /* iOS Safari */
}
